header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  /* margin: 0 40px; */
  width: 90%;
  padding: 5px 5%;
  #firstSection {
    display: flex;
    align-items: center;
    gap: 10px;
    .logo {
      height: 30px;
    }
    p{
        font-size: 18px;
        span{
            font-weight: 200;
        }
    }
  }
  button{
    background-color: #a9a9a936;
    border: 1px solid #a9a9a9;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    /* height: auto; */
    /* font-weight: 200; */
  }
}
